[user]
	name = user
	email = myEmail@email.com
[alias]
	new = !git checkout -b
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	upstream = !git push --set-upstream origin $(git branch-name)
	pull-master = !git checkout master && git pull && git status
	del-branch-gone = "!git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D"
